<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Image</title>
</head>

<body>

	<div class="container">
	
		<h3>Image Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Image</p>
	
		<form action="#" th:action="@{/images/save}"
						 th:object="${image}" method="POST">
		
			<input type="text" th:field="*{id}"
					class="form-control mb-4 col-4" placeholder="Id">

			<input type="file" th:field="*{imagePath}"
					class="form-control mb-4 col-4" placeholder="image path">

			
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/images/list}">Back to Images List</a>
		
	</div>
</body>

</html>










